@model RealtorSite.Models.Listing

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Listing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mls" class="control-label"></label>
                <input asp-for="Mls" class="form-control" />
                <span asp-validation-for="Mls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street1" class="control-label"></label>
                <input asp-for="Street1" class="form-control" />
                <span asp-validation-for="Street1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street2" class="control-label"></label>
                <input asp-for="Street2" class="form-control" />
                <span asp-validation-for="Street2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zipcode" class="control-label"></label>
                <input asp-for="Zipcode" class="form-control" />
                <span asp-validation-for="Zipcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Neighborhood" class="control-label"></label>
                <input asp-for="Neighborhood" class="form-control" />
                @*<span asp-validation-for="Neighborhood" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="SalesPrice" class="control-label"></label>
                <input asp-for="SalesPrice" class="form-control" />
                <span asp-validation-for="SalesPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateListed" class="control-label"></label>
                <input asp-for="DateListed" class="form-control" />
                <span asp-validation-for="DateListed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bedrooms" class="control-label"></label>
                <input asp-for="Bedrooms" class="form-control" />
                <span asp-validation-for="Bedrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photos" class="control-label"></label>
                <input asp-for="Photos" class="form-control" />
                <span asp-validation-for="Photos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bathrooms" class="control-label"></label>
                <input asp-for="Bathrooms" class="form-control" />
                <span asp-validation-for="Bathrooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GarageSize" class="control-label"></label>
                <input asp-for="GarageSize" class="form-control" />
                <span asp-validation-for="GarageSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SquareFeet" class="control-label"></label>
                <input asp-for="SquareFeet" class="form-control" />
                <span asp-validation-for="SquareFeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LotSize" class="control-label"></label>
                <input asp-for="LotSize" class="form-control" />
                <span asp-validation-for="LotSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
